body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(to right, rgb(0, 1, 88), #789da8, rgb(49, 16, 16));
}

.site-wrapper {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.content-wrapper {
  display: block;
  width: 80%;
  margin: 3% auto;
}

.header-section{
  width: 100%;
  margin: 0;
  background: #7aafe0;
  background-image: linear-gradient(to right,#7aafe0, #acc8e2, #7aafe0);
  box-shadow: 0 3px 5px rgb(22, 22, 22);
}

.main-title {
  text-align: center;
  /*background:rgb(122, 175, 224);*/
  padding: 0.5%;
  color: rgb(0, 0, 110);
  font-size: 40px;
  text-shadow: 1px 1px 1px white;
}
