.results-card {
    width: 90%;
    border: 1px solid black;
    box-shadow: 0 2px 3px rgb(58, 34, 34); 
    margin: 3% auto;
    padding: 4%;
    background: white;
}

button {
    box-shadow: 0 2px 3px rgb(58, 34, 34); 
}