.Footer {
    z-index: 1;
    position: absolute;
    width: 100%;
    margin: 2% 0 0 0;
    padding: 15px 0 5px 0;
    background:rgb(122, 175, 224);
    box-shadow: 0 -3px 5px rgb(22, 22, 22);
    color: #0f497c;
    text-align: center;
}

.Footer a {
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
}