.Footer {
    z-index: 1;
    width: 100%;
    margin: 2% 0 0 0;
    padding: 15px 0 5px 0;
    background: #7aafe0;
    background-image: linear-gradient(to right,#7aafe0, #acc8e2, #7aafe0);
    box-shadow: 0 -3px 5px rgb(22, 22, 22);
    color: #0f497c;
    text-align: center;
}

.Footer a {
    text-align: center;
    margin-left:10px;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    text-decoration: none;
}